html {
  background-color: #191414;
  font-family: "Open Sans", sans-serif;
  color: #1DB954;
  padding: 40px;
}

head {
  font-family:Arial, Helvetica, sans-serif;
}
.btn{
  display: inline-block; margin-right: 20px;
}

p {
  color: #ffffff;
}

h1 {
  font-size: 60px;
  margin: 0px 0px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;  
  color: #ffffff;

}

h3 {
  margin-top: 0px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.login {
  gap: 16px;
  margin: auto;
  background-color: #ffffff;
  width: 360px;
  height: 90px;
  padding: 29px 66px;
  font-size: 25px;

}

.login:hover {
  background-color: #d8d7d7;
}
button {
  display: flex;
  padding: 16px 34px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 20px;
  gap: 10px;
  font-size: 20px;
  text-align:center;
  width: 240px;
  height: 60px;
  border-radius: 12px;
  color:#000000;
  background-color: #1DB954;
  /* background: linear-gradient(90deg, #f4f4f4 0%, #52ff5e 50.35%, #1DB954 100%);   */
  font-weight: 600;
}

.avatar {
  margin-top: 0px;
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 13px;
}


.login:hover {
  background-color: #d8d7d7;
}

button:hover {
  background-color: #1e9447;
}

.element {
  border-radius: 10px;
  width: 240px;
  height: 30px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-align:center;
  font-weight: 600;
}

@media (max-width: 786px) {
  .login {
    width: 240px;
    height: 60px;
    font-size: 16px;
    padding: 20px 44px;
  }
  button {
    width: 180px;
    height: 45px;
    font-size: 15px;
    padding: 10px 25px;
  }

  .element {
    width: 200px;
    height: 25px;
    font-size: 10px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 20px;
  }
}
